:root {
    --header-color: #272727;
    --primary-color: #ffffff;
    --tertiary-color: #2B1B17;
    --home-background-color: #6d5b4a;
    --button-primary-color: #ecab61;
    --button-primary-active-color: #c58134;
    --button-secondary-color: #f8f4ed;
    --button-secondary-active-color: #fbfbfb;
    --background-color: #fbfbfb;
    --border-color: #8f8f8f;
    --card-background-color: #fffafa;
    --about-background-color: #f6c89f;
}